p {
  font-family: "Zilla Slab", serif;
  font-weight: 100;
  color: #dda528;
}

.container {
  display: block;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  overflow: visible;
  clear: both;
}

.hero-container {
  display: block;
  width:auto;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  clear: both;
}

.row{
  margin-bottom:20px;
  float:left;
}

header{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 500;
  padding: 15px 0 8px 0;
  background-color: #4d4d4d; 
}

.branding{
  background: url("../images/logo.svg") no-repeat;
  width: 180px;
  height: 50px;
  float: left;
  text-indent: -999em;
  
}

.branding a:link {
  color: #dda528;
  text-decoration: none;
}

nav{
  margin-top: 10px;
  float: right;
  color: #DDA528;
  text-decoration:none;
}

nav ul{
  list-style-type: none;
  text-align: right;
}

nav li{
  font-family: "Asap Condensed", sans-serif;
  font-weight: 900;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .1em;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

nav li a:link{
  color: #DDA528;  
  text-decoration:none;
}

nav li a:visited{
  color: #c35a4c ;
  text-decoration:none;
}

nav li a:hover{
  color: #c35a4c;
  text-decoration:none;
}

nav li a:active{
  color: #DDA528;
  text-decoration:none;
}

/* Hero */
.hero-container img{
 width: 100%;
 height:100%;
 display: block;
 position: relative;
  
}

.type-overlay h1{
 width: 100%;
 position:absolute;
 padding-bottom:20px;
 top:800px;
 z-index: 5;
 text-align: center;
 font-family: "Zilla Slab", serif;
 font-weight:700;
 text-transform: uppercase;
 color: #a5cb9c;
 margin-left:auto;
 margin-right:auto;
}

.home {
 margin-top: 77px;
 overflow: hidden;
}

.life {
  width: 100%;
  padding: 100px 0;
  float: left;
  background: url("../images/dark-honeycomb.png");
}

h2{
  margin: 20px 0 100px 0;
  text-align: center;
  color: #A5CB9C;
  font-family: "Asap Condensed", sans-serif;
  font-weight:bold;
  text-shadow:2px 2px 4px black;
}

/* Discography */
.artist-large{
  width: 100%;
  padding: 100px 0;
  float: left;
  background: url("../images/miles-waynep2nh.jpg") no-repeat;
  background-size:cover;
  background-position-y:50%;
}

.carousel-cell{
  width:290px;
  height: 380px;
  margin-right: 15px;
  text-align: center;
  counter-increment: carousel-cell;
  border-radius:5px;
}

.carousel{
  background: none;
}

.carousel-cell:before{
  height:0;
  width:0;
}

/* Gallery */
.gallery {
  width: 100%;
  padding: 100px 0;
  float: left;
  background: url("../images/dark-honeycomb.png") repeat;
}

.row{
  width:940px;
  float: left;
  margin-bottom: 20px;
}

.box-grid h3{
  margin: 10px 10px 0 10px;
  color: #DDA528;
  font: 18pt "Asap Condensed", sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
}

.box-grid p{
  padding: 0 10px;
  color: white;
  font-weight: bold;
  font: 10pt "Asap Condensed", sans-serif;
}

.box-grid{
  width: 300px;
  height: 260px;
  float: left;
  background: #161613;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.box-grid img{
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.boxcaption{
  float: left;
  position: absolute;
  background-color: #000000;
  height: 100px;
  width: 100%;
  opacity: .8;
}

.box-grid a{
  color: #DDA528;
  text-decoration: underline;
}

.captionfull .boxcaption{
  top: 260px;
  left: 0;
}

.caption .boxcaption{
  top:220px;
  left: 0;
}

/*Career History*/
.career{
  width:100%;
  padding:100px 0;
  float:left; 
  background: url("../images/miles-davis-looking-off.jpg") no-repeat;
  background-size:cover;
  background-position-x:50%;
}

.career h2{
  text-shadow:2px 2px 4px black;
}

.career p{
  text-shadow:1px 2px 1px black;
  color: white;
}

.career img{
  border-radius:5px;
}
.career .small-text{
  font:  "Asap Condensed", sans-serif !important;
}

/*Impact*/
.impact{
  width:100%;
  padding:100px 0;
  float:left; 
  background: url("../images/dark-honeycomb.png") repeat;
}

.impact h2{
  margin-left:40px;
}

.impact h4{
  font-family:"Zilla Slab", serif;
  text-align:center;
  color:#DDA528;
}

.impact img{
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.impact img:hover{
  
  -webkit-transform: rotate(360deg);
  
          transform: rotate(360deg);
}

.impact p{
  text-align:center;
	color:white;
}

/* Contact */
.contact{
  width:100%;
  padding:100px 0;
  float:left;
  background:url("../images/brody-davis-coltrane.jpg") no-repeat;
  background-size:cover;
  background-position-y: 50%;
}

form textarea{
  opacity: 60%;
}

form input{
  opacity: 60%;
}

.contact label{
  color:#a5cb9c;
  text-shadow: 1px 2px 2px black;
  font-family:"Asap Condensed", sans-serif;
}

.contact textarea#fname{
  width:460px;
  height: 50px;
  margin-left:0;
  margin-right:20px;
  background-color:#ffffff;
  border-radius:0px;
  opacity:60% !important;
  font-family:"Asap Condensed", sans-serif;
  padding:10px 0 0 5px;
  
}

.contact textarea#pnum{
  width:460px;
  margin-left:0;
  background-color:#ffffff;
  border-radius:0px;
  opacity:60% !important;
  font-family:"Asap Condensed", sans-serif;
  padding:10px 0 0 5px;
  height: 50px;
}

.contact textarea#email{
  width:940px;
  margin-left:0;
  background-color:#ffffff;
  border-radius:0px;
  opacity:60% !important;
  font-family:"Asap Condensed", sans-serif;
  padding:10px 0 0 5px;
  height: 50px;
}

.contact textarea#subject{
  width:940px;
  background-color:#ffffff;
  border-radius:0px;
  font-family:"Asap Condensed", sans-serif;
  padding:10px 0 0 5px;
}

input{
  height: 50px;
  width: 100px;
  background-color:#a5cb9c;
  font-family:"Asap Condensed", sans-serif;
  font-weight: 100;
  color: #ffffff;
  border-radius:10px;
  margin-left:450px;
  opacity: 100% !important;
}

/* Footer */
footer{
  width: 100%;
  padding: 50px 0 20px 0;
  text-align: center;
  background-color: #4d4d4d;
}

footer a:link {
  color: #A5A1A1 !important;
  text-decoration: none !important;

}

footer a:visited {
  color: #A5A1A1 !important;
  text-decoration: none !important;

}

footer a:hover {
  color: #c35a4c !important;
  text-decoration: none !important;

}

footer a:active {
  color: #A5A1A1 !important;
  text-decoration: none !important;
}

.copyright{
  width: 100%;
  color: #A5A1A1;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;

}

.copyright img{
  height: 120px;
  width: 200px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 150px;
  float:left;
}

.copyright p{
  margin-bottom: 10px;
  font-family:"Asap Condensed", sans-serif;
  font-weight: 100;
  color: #A5A1A1;
}

.navbar{
  margin-top: 20px;
  font-family:"Asap Condensed", sans-serif !important;  
}

.navbar:a {
  float: left;
  display: block;
  color: #A5A1A1;
  text-align: center;
  padding: 20px 0px;
  text-decoration: none;
}

i{
  font-size:1.6em;
}